main {
  display: flex;
  flex-direction: row;
}
h1 {
  text-align: center;
  width: 100%;
  background-image: linear-gradient(to bottom right, turquoise, blue);
}

ul {
  list-style: none;
}

input {
  margin: 2px;
}

p {
  color: honeydew;
}
.search {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-left: black;
  border-width: 2px;
}
.btn {
  margin: 2px;
}
.button {
  margin: 2px;
}
#weatherContainer {
  padding-left: 10px;
}

#cityContainer {
  padding-bottom: 10px;
  padding-left: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  background-image: linear-gradient(to bottom right, blue, turquoise);
}
#forecastTitle {
  width: 100%;
}
#forecastContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#UVG {
  max-width: 40px;
  background-color: green;
}

#UVM {
  max-width: 40px;
  background-color: yellow;
}

#UVS {
  max-width: 40px;
  background-color: red;
}

.list {
  background-color: #6699cc;
  text-align: start;
}
